<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-list-header>Vorgehen</ion-list-header>
  <ion-item><ol><li>Auftrag definieren</li>
  <li>Adresse angeben</li>
    <li>Zahlungsart festlegen</li>
    <li>Auftrag anlegen</li>
  </ol></ion-item>
</ion-list>
  <ion-list>
    <ion-list-header>Freiwillige Helfer*innen</ion-list-header>
    <ion-item><ul><li>Schüler*innen</li>
      <li>Vereine</li>
      <li>Einwohner</li>
    </ul></ion-item>
  </ion-list>
</ion-content>
