<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-list-header>Vorgehen</ion-list-header>
  <ion-item><ol><li>Auftrag definieren</li>
  <li>Adresse angeben</li>
    <li>Zahlungsart festlegen</li>
    <li>Auftrag anlegen</li>
  </ol></ion-item>
</ion-list>
  <ion-list>
    <ion-list-header>Freiwillige Helfer*innen</ion-list-header>
    <ion-item>Wer kommt zu Ihnen und holt die Wertstoffe ab?<ul><li>Schüler*innen</li>
      <li>Vereine</li>
      <li>Einwohner</li>
    </ul></ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Digitale Datenquellen</ion-list-header>
    <ion-item>
      <ion-label>Wohn-Adresse</ion-label>
      <ion-text>api3.geo.admin.ch</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Sammelstellen</ion-label>
      <ion-text>recycling-map.ch</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Weg<p>Berechnung der Distanz</p></ion-label>
      <ion-text>map.search.ch</ion-text>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>App Entwicklung</ion-list-header>
    <ion-item>
      <ion-label>Klima Glarus</ion-label>
      <ion-text><a href="mailto:glarus@climatestrike.ch"><ion-icon name="mail"></ion-icon></a></ion-text>
    </ion-item>
  </ion-list>
</ion-content>
