:host {
  .search_container {
    position: relative;
    padding-bottom: 0.1em;
  }
  .indicator {
    font-size: 0.7em;
    height: 0.8em;
    padding-left: 1px;
    padding-right: 2px;
  }
  .user-selection-label {
    font-size: 0.7em;
  }
}
